@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgba(0, 93, 250, 0.99);
}

::selection {
  color: white;
  background: rgba(0, 93, 250, 0.99);
}

/* react-shadow-picker */
.shadow-picker {
  box-sizing: content-box;
}
